.movie-item {
  aspect-ratio: 9/14;
}
.figure {
  background-color: #080808;
  aspect-ratio: 9/14;
  display: flex;
  border-radius: 5px;
  width: 16rem;
  overflow: hidden;
  cursor: pointer;
}

.figure > img {
  width: 100%;
  object-fit: cover;
  transition: ease .2s;
}
.figure > img:hover {
  opacity: .4;
  scale: 1.1;
}

.figure-generic-list {
  width: 100%;
}

.posterFooter {
  padding: 1rem 0;
  display: flex;
}
.posterFooter > span{
  text-wrap: balance;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  width: 100%;
  color: var(--text);
}