@import url('./styles/trend.css');
@import url('./styles/categories.css');
@import url('./styles/header.css');
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --brandColor: #1762ee;
  --white: #c3c3c3;
  --black: #474747;
  --secundary-text-color: #7e7e7e;
  --bg-dark: #0a162c;
  --bg-light: #ffffff;
  --text: var(--white);
  --bg: var(--bg-dark)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 320px;
  max-width: 65rem;
  min-height: 100vh;
  margin: 0 auto;
  position: relative;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

main {
  display: grid;
  gap: 4rem;
}

.inactive {
  display: none !important;
}

.list-container {
  display: grid;
  gap: 1rem;
  padding: 1.4rem;
}
.list-container > h3 {
  font-size: 2rem;
  /* text-transform: capitalize; */
  color: var(--text);
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--bg-light);
    --text: var(--black);
    --bg: var(--bg-light)
  }
}
