.info-container {
  display: grid;
  gap: 2rem;
}

.movie-title {
  color: var(--brandColor);
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 800;
}

.info {
  display: grid;
  gap: 2.5rem;
}

.vote-average {
  color: var(--text);
  font-size: 1.8rem;
  opacity: .8;
  font-weight: 500;
}
.vote-average::before {
  content: '★';
  color: var(--yellow);
  font-size: 2rem;
  padding-right: 4px;
}

.overview-and-categories-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 35px;
}
.overview-text {
  font-size: 1.6rem;
  color: var(--text);
  font-style: italic;
  max-width: 700px;
}

.categories-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.related-movies-container {
  overflow-x: hidden;
}
.related-movies-container > h3 {
  font-size: 1.8rem;
  color: var(--text);
}

.related-movies {
  display: flex;
}

.target {
  display: grid;
  place-content: center;
  padding: 10px;
}

@media (max-width: 900px) {
  .overview-and-categories-container {
    flex-wrap: wrap;
  }
}