.movie-item {
  aspect-ratio: 9/14;
  /* min-width: 16rem;
  width: 100%; */
  background-color: #67676769;
  border-radius: 5px;
  animation: skeleton infinite 1.5s;
}

@keyframes skeleton {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}