.header {
  width: 100%;
  padding: 1.4rem;
  display: flex;
  gap: 1.2rem;
  /* justify-content: start; */
  align-items: start;
  flex-direction: column;
  padding: 1.4rem;
}
.header > .header-movie-image {
  display: none;
}

.header-movie-details {
  /* max-width: 65rem; */
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  /* position: fixed; */
  background-position-x: center;
  display: flex;
  padding: 0;
  align-items: flex-start;
}

.header-movie-details .gradient-header {
  position: absolute;
  width: 100%;
  height: 20%;
  inset: 0;
  background: linear-gradient(180deg, var(--bg-dark), transparent);
  z-index: 2;
}

.header-movie-details > .header-movie-image {
  width: 100%;
  position: relative;
  inset: 0;
  display: block;
}

.nav {
  display: flex;
  /* width: 100%; */
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 3;
  left: 1rem;
  top: 1rem;
  position: absolute;
}

.back-icon {
  display: flex;
  cursor: pointer;
  color: var(--brandColor);
}

.main-title {
  display: flex;
  transition: scale .1s;
}
.main-title > a {
  text-decoration: none;
  color: var(--brandColor);
  font-weight: bolder;
  font-size: 2.5rem;
  cursor: pointer;
  text-shadow: 0px 0px 4px var(--brandColor);
  transition: ease .2s;
}
.main-title > a:hover {
  color: #216fff;
}

.search {
  outline: none;
  position: relative;
  padding: 0.8rem 1.2rem;
  width: 100%;
  border: 1px solid var(--brandColor);
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.search > input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.6rem;
  background: none;
  color: var(--secundary-text-color);
}

.search > button {
  font-size: 1.6rem;
  border: none;
  background: none;
  display: flex;
  cursor: pointer;
  color: var(--brandColor);
}

@media (width >= 600px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .main-title > a {
    font-size: 3.5rem;
  }
  .search {
    max-width: 40rem;
  }
}


.section-movie-detail {
  color: var(--brandColor);
  width: 100%;
  /* position: relative; */
  padding: 1.4rem;
  background-color: var(--bg-dark);
  border-radius: 20px;
  /* top: 65dvh; */
  display: grid;
  gap: 2.5rem;
  padding-bottom: 4.5rem;
}

.icon-tabler-chevron-left {
  width: 3rem;
  height: 3rem;
  stroke-width: 2;
  color: var(--brandColor);
}

@media (prefers-color-scheme: light) {
  .section-movie-detail {
    background-color: var(--bg-light);
  }
  a:hover {
    color: #e5e5e5;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}