#trend {
  display: flex;
  gap: 2rem;
  flex-direction: row;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

#trend::-webkit-scrollbar {
  -webkit-appearance: none;
}
#trend::-webkit-scrollbar:horizontal {
  height: 8px;
}
#trend::-webkit-scrollbar-thumb {
  background-color: #9b9b9b5d;
  border-radius: 20px;
}